@*
Copyright 2005 - 2025 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*@

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@using Microsoft.Extensions.Options
@using Origam
@using Origam.Server
@using Origam.Server.Configuration
@inject IOptions<CustomAssetsConfig> ConfigOptions;
@{
    CustomAssetsConfig config = ConfigOptions.Value;
    var logoUrl = string.IsNullOrWhiteSpace(config.IdentityGuiLogoUrl)
        ? "/assets/identity/icons/origam-logo.svg"
        : config.IdentityGuiLogoUrl;

    OrigamSettings settings = ConfigurationManager.GetActiveConfiguration();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@string.Format(SharedLocalizer.GetString("IdentityServerTitle"), settings.TitleText )</title>
    <link rel="stylesheet" href="~/assets/identity/css/css.css?version=0.0.0.0" />
    <link rel="stylesheet" href="~/assets/identity/css/main.css?version=0.0.0.0" />
    <link rel="stylesheet" href="~/assets/identity/css/login.css?version=0.0.0.0" />
</head>
<body>
<div id="overlay" class="page-content">
    <h3>
        @SharedLocalizer["BrowserNotCompatible"]
    </h3>
    <div id="browserLinks">
        <a class="btn normal-size primary" href="https://www.google.com/chrome/">Chrome</a>
        <a class="btn normal-size primary" href="https://www.mozilla.org/firefox/new/">Firefox</a>
        <a class="btn normal-size primary" id="edgeLink" href="https://www.microsoft.com/edge/">Edge</a>
        <a class="btn normal-size primary" id="safariLink" href="https://www.apple.com/safari/">Safari</a>
    </div>
    <div class="input-row">
        <a id="continueAnywayLink">@SharedLocalizer["ContinueAnyway"]</a>
    </div>
</div>
<div id="page-container" class="page-content">
        <div class="logo-container centered">
            <img class="logo" src=@logoUrl />
        </div>
    @RenderBody()
</div>

<script src="~/assets/identity/js/form-submit.js?version=0.0.0.0"></script>
<script src="~/assets/identity/js/custom.js?version=0.0.0.0"></script>
<script src="~/assets/supportedBrowserRegEx.js?version=0.0.0.0"></script>
<script src="~/assets/identity/js/browser-check.js?version=0.0.0.0"></script>
@RenderSection("scripts", required: false)
</body>
</html>