@using Origam.Server.Utils;
@{
    Layout = "~/_Layout.cshtml";
    string action = "Reset";
    string actionField = "Action";
    string userNameField = "UserName";
    string newPasswordField = "Password";
    string confirmPasswordField = "ConfirmationCode";
    string tokenField = "Token";
    bool success = false;
    //string errorMessage = LoginHelper.RegisterNewUser(this, action, actionField,
    //	nameField, firstNameField, emailField, userNameField, passwordField, ref success);
    string errorMessage = LoginHelper.ResetPassword(this, action, actionField, userNameField,
        newPasswordField, confirmPasswordField, ref success);
}

<form method="post" autocomplete="off">
    <!-- TODO - add styles -->
    <div class="errorMessage">
        @errorMessage
    </div>
    @if (!success && LoginHelper.IsPasswordRecoverySupported())
    {
        <br />
        <!-- new password text input -->
        <label class="input">
            <span>@Origam.Server.Utils.Resources.NewPasswordForm</span>
            @Html.Password(newPasswordField, Request.Params[newPasswordField], new { @autocomplete = "off" })
        </label>
		<!-- confirm password text input -->
        <label class="input">
            <span>@Origam.Server.Utils.Resources.ConfirmNewPasswordForm</span>
            @Html.Password(confirmPasswordField, Request.Params[confirmPasswordField], new { @autocomplete = "off" })
        </label>
        <input type="submit" value="@action" name="@actionField" class="login" />
        <script src="js/overlay.js" type="text/javascript"></script>
    }
    <br />
    <div>
        <a href="~/Login">@Origam.Server.Utils.Resources.BackToStart</a>
    </div>
</form>