@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.Server
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Origam.Server.Identity.Models.ForgotPasswordViewModel

<div class="detailview-container">
    <div class="detailview-module with-title">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form" novalidate="">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <h2>@SharedLocalizer["ResetPassword"]</h2>
            <div class="input-form">
                <div class="input-row">
                    <label asp-for="Email">@SharedLocalizer["Email"]</label>
                    <input asp-for="Email" placeholder="@SharedLocalizer["Email"]" class="form-control"/>
                </div>
                <div class="input-row">
                    <a id="submitButton" class="btn normal-size primary submit-link" value="" href=#>@SharedLocalizer["Submit"]</a>
                    <a id="backButton" class="btn normal-size primary" value="" href="/Account/Login">@SharedLocalizer["Back"]</a>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationSummary"/>
        