@*
Copyright 2005 - 2025 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*@

@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.Server
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Origam.Server.Identity.Models.ForgotPasswordViewModel

<div class="detailview-container">
    <div class="detailview-module with-title">
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form" novalidate="">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <h2>@SharedLocalizer["ResetPassword"]</h2>
            <div class="input-form">
                <div class="input-row">
                    <label asp-for="Email">@SharedLocalizer["Email"]</label>
                    <input asp-for="Email" placeholder="@SharedLocalizer["Email"]" class="form-control"/>
                </div>
                <div class="input-row">
                    <a id="submitButton" class="btn normal-size primary submit-link" value="" href=#>@SharedLocalizer["Submit"]</a>
                    <a id="backButton" class="btn normal-size primary" value="" href="/Account/Login">@SharedLocalizer["Back"]</a>
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationSummary"/>
        