@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.Server
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Origam.Server.Identity.Models.RegisterViewModel

<div class="detailview-container">
    <div class="detailview-module with-title">
        <h2>@SharedLocalizer["CreateAccount"]</h2>
        <div class="input-form">
            <form asp-controller="Account" asp-action="RegisterInitialUser">
                <div class="input-row">
                    <label asp-for="UserName">@SharedLocalizer["UserName"]</label>
                       <input asp-for="UserName" autofocus>
                   </div>                  
                   <div class="input-row">
                       <label asp-for="Name">@SharedLocalizer["Name"]</label>
                       <input asp-for="Name">
                   </div>                  
                   <div class="input-row">
                       <label asp-for="FirstName">@SharedLocalizer["FirstName"]</label>
                       <input asp-for="FirstName">
                   </div>                
                   <div class="input-row">
                       <label asp-for="Email">@SharedLocalizer["Email"]</label>
                       <input asp-for="Email">
                   </div>
                   <div class="input-row">
                       <label asp-for="Password">@SharedLocalizer["Password"]</label>
                       <input type="password" asp-for="Password" autocomplete="off">
                   </div>                
                   <div class="input-row">
                       <label asp-for="ConfirmPassword">@SharedLocalizer["ConfirmPassword"]</label>
                       <input type="password" asp-for="ConfirmPassword" autocomplete="off">
                   </div>
                
                <div class="input-row">
                    <a id="createButton" class="btn normal-size primary submit-link" href=#>@SharedLocalizer["Create"]</a>
                </div>
            </form>
        </div>
    </div>  
</div>

<partial name="_ValidationSummary"/>
