@*
Copyright 2005 - 2025 Advantage Solutions, s. r. o.

This file is part of ORIGAM (http://www.origam.org).

ORIGAM is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

ORIGAM is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ORIGAM. If not, see <http://www.gnu.org/licenses/>.
*@

@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.Server
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Origam.Server.Identity.Models.ResetPasswordViewModel

<div class="detailview-container">
    <div class="detailview-module with-title">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
            <h2>@SharedLocalizer["ResetPasswordTitle"]</h2>
            <input asp-for="Code" type="hidden" />
            <input asp-for="Email" type="hidden"/>
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <div class="input-form">
                <div class="input-row">
                    <label asp-for="Password">@SharedLocalizer["Password"]</label>
                    <input asp-for="Password" type="password" placeholder="@SharedLocalizer["Password"]"/>
                </div> 
                <div class="input-row">
                    <label asp-for="ConfirmPassword">@SharedLocalizer["ConfirmPassword"]</label>
                    <input asp-for="ConfirmPassword" type="password" placeholder="@SharedLocalizer["ConfirmPassword"]"/>
                </div>
                <div class="input-row">
                    <a id="resetButton" class="btn normal-size primary submit-link" value="" href=#>@SharedLocalizer["Reset"]</a>                    
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationSummary"/>
