@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Origam.ServerCore.Resources
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Origam.ServerCore.IdentityServerGui.Account.LoginViewModel
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@if (Model.EnableLocalLogin)
{
        <div class="detailview-container">
            <div class="detailview-module with-title">
                <h2>@SharedLocalizer["LocalLogin"]</h2>
                <div class="input-form">
                    <form asp-route="Login">
                        <input type="hidden" asp-for="ReturnUrl"/>
                        <div class="input-row">
                            <label asp-for="Username"></label>
                            <input id="userNameInput" placeholder="Username" asp-for="Username" autofocus>
                        </div>
                        <div class="input-row">
                            <label asp-for="Password"></label>
                            <input id="passInput" type="password" placeholder="Password" asp-for="Password" autocomplete="off">
                        </div>

                        @if (Model.AllowRememberLogin)
                        {
                            <div class="form-group login-remember">
                                <label asp-for="RememberLogin">
                                    <input asp-for="RememberLogin">
                                    <strong>@SharedLocalizer["RememberLogin"]</strong>
                                </label>
                            </div>
                        }
                        <div class="input-row">
                            <a id="loginButton" class="btn normal-size primary submit-link" value="login" href=#>@SharedLocalizer["Login"]</a>
                            <a class="btn normal-size primary submit-link" value="cancel" href=#>@SharedLocalizer["Cancel"]</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div class="centered">
        <form id="languageSelectForm" asp-controller="Account" 
              asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" 
              method="post" class="form-horizontal" role="form">
            <label asp-for="@requestCulture.RequestCulture.UICulture.Name">@Localizer["Language:"]</label> <select id="languageSelect" name="culture"
                                                                                                                   onchange="this.form.submit();"
                                                                                                                   asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems">
            </select>
        </form>
    </div>
        
    <div class="centered">
        <div>
            Click <a id="reset-link" href="/account/forgotpassword">here</a> to reset your password.
        </div>
    </div>
    <br/>
}
@if (Model.VisibleExternalProviders.Any())
{
    <div class="detailview-module with-title">
        <h2>External Login</h2>
        <div class="input-form">
            <div class="input-row">
                @foreach (var provider in Model.VisibleExternalProviders)
                {
                    <a class="btn btn-default external-login-link"
                       asp-controller="External"
                       asp-action="Challenge"
                       asp-route-provider="@provider.AuthenticationScheme"
                       asp-route-returnUrl="@Model.ReturnUrl">
                        @provider.DisplayName
                    </a>
                }
            </div>
        </div>
    </div>
}


<partial name="_ValidationSummary"/>

@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>@SharedLocalizer["InvalidLoginRequest"]</strong>
        @SharedLocalizer["NoLoginSchemes"]
    </div>
}