@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.Server
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Origam.Server.IdentityServerGui.Account.LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}



<h3 class="confirmation-text">
    @SharedLocalizer["LoggedOut"]
</h3>

@if (Model.PostLogoutRedirectUri != null)
{
    <div class="login-link">
        @SharedLocalizer["ReturnToApplication1"]<a class="in-page-link PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">@SharedLocalizer["ReturnToApplication2"]</a>@SharedLocalizer["ReturnToApplication3"]
        @SharedLocalizer["ReturnToApplication4"]
    </div>
}
else
{
    <div class="login-link">
        @SharedLocalizer["ToLogin1"]<a class="in-page-link" href="/account/login">@SharedLocalizer["ToLogin2"]</a>@SharedLocalizer["ToLogin3"]
    </div> 
}

@if (Model.SignOutIframeUrl != null)
{
    <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
}


@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/assets/identity/js/signout-redirect.js"></script>
    }
}
