@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Origam.Server
@using Origam.Server.Configuration
@using Origam.Server.Authorization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Origam.Server.IdentityServerGui.Account.LoginViewModel
@inject IViewLocalizer Localizer
@inject LanguageConfig languageConfig
@inject IOptions<IdentityGuiConfig> ConfigOptions;
@inject IOptions<UserConfig> userConfig;
@{
    IdentityGuiConfig guiConfig = ConfigOptions.Value;
    UserConfig guiUserConfig = userConfig.Value;
}

@{
    var currentCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

@if (Model.EnableLocalLogin)
{
    <div class="detailview-container">
        <div class="detailview-module with-title">
            <h2>@SharedLocalizer["LocalLogin"]</h2>
            <div class="input-form">
                <form asp-route="Login">
                    <input type="hidden" asp-for="ReturnUrl"/>
                    <div class="input-row">
                        <label asp-for="Username">@SharedLocalizer["UserName"]</label>
                        <input id="userNameInput" placeholder="@SharedLocalizer["UserName"]" asp-for="Username" autofocus>
                    </div>
                    <div class="input-row">
                        <label asp-for="Password">@SharedLocalizer["Password"]</label>
                        <input id="passInput" type="password" placeholder="@SharedLocalizer["Password"]" asp-for="Password" autocomplete="off">
                    </div>
                    
                    <div class="input-row">
                        <a id="loginButton" class="btn normal-size primary submit-link" value="login" href=#>@SharedLocalizer["Login"]</a>
                        <a id="cancelButton" class="btn normal-size primary submit-link" value="cancel" href=#>@SharedLocalizer["Cancel"]</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="centered">
        <form id="languageSelectForm" asp-controller="Account"
              asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
              method="post" class="form-horizontal" role="form">
            @if (languageConfig.CultureItems.Length > 1)
            {
                <div id="languageLinkContainer">
                    @for (int i = 0; i < languageConfig.CultureItems.Length; i++)
                    {
                        @if (i != 0)
                        {
                            <div class="languageLinkSeparator">|</div>
                        }
                        var inactiveClass = languageConfig.CultureItems[i].CultureName == currentCulture ? "inactiveLanguageLink" : "";
                        <a class="languageLink @inactiveClass"
                           value=@languageConfig.CultureItems[i].CultureName
                           href="#">
                            @languageConfig.CultureItems[i].Caption
                        </a>
                    }
                </div>  
            }
        </form>
    </div>
@if (guiConfig.AllowPasswordReset)
{
    <div class="centered">
        <div class="reset-password-statement">
            @SharedLocalizer["ToResetPassword1"]<a class="in-page-link" href="/account/forgotpassword">@SharedLocalizer["ToResetPassword2"]</a>@SharedLocalizer["ToResetPassword3"]
        </div>
    </div>
}
@if (guiUserConfig.UserRegistrationAllowed)
{
    <div class="centered">
        <div class="initial-user-statement">
            @if (UserTools.IsInitialSetupNeeded())
            {
            @SharedLocalizer["ToInitialUser1"]<a class="in-page-link" href="/account/registerinitialuser">@SharedLocalizer["ToInitialUser2"]</a>@SharedLocalizer["ToInitialUser3"]
            }
            else
            {
            @SharedLocalizer["ToInitialUser1"]<a class="in-page-link" href="/account/register">@SharedLocalizer["ToInitialUser2"]</a>@SharedLocalizer["ToInitialUser3"]
            }
        </div>
    </div>
}
<br />
}
@if (Model.VisibleExternalProviders.Any())
{
    <div class="detailview-module with-title">
        <h2>@SharedLocalizer["ExternalLogin"]</h2>
        <div class="input-form">
            <div class="input-row">
                @foreach (var provider in Model.VisibleExternalProviders)
                {
                    <a 
                        id="loginButton-@provider.AuthenticationScheme"
                        class="btn btn-default" 
                        asp-controller="External"
                        asp-action="Challenge"
                        asp-route-provider="@provider.AuthenticationScheme"
                        asp-route-returnUrl="@Model.ReturnUrl">
                        @SharedLocalizer[provider.DisplayName]
                    </a>
                }
            </div>
        </div>
    </div>
}

<partial name="_ValidationSummary"/>

@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>@SharedLocalizer["InvalidLoginRequest"]</strong>
        @SharedLocalizer["NoLoginSchemes"]
    </div>
}