@using Microsoft.AspNetCore.Mvc.Localization
@using Origam.Server
@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@model Origam.Server.IdentityServerGui.Account.ResetPasswordViewModel

<div class="detailview-container">
    <div class="detailview-module with-title">
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal" role="form">
            <h2>@SharedLocalizer["ResetPasswordTitle"]</h2>
            <input asp-for="Code" type="hidden" />
            <input asp-for="Email" type="hidden"/>
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <div class="input-form">
                <div class="input-row">
                    <label asp-for="Password">@SharedLocalizer["Password"]</label>
                    <input asp-for="Password" placeholder="@SharedLocalizer["Password"]"/>
                </div> 
                <div class="input-row">
                    <label asp-for="ConfirmPassword">@SharedLocalizer["ConfirmPassword"]</label>
                    <input asp-for="ConfirmPassword" placeholder="@SharedLocalizer["ConfirmPassword"]"/>
                </div>
                <div class="input-row">
                    <a id="resetButton" class="btn normal-size primary submit-link" value="" href=#>@SharedLocalizer["Reset"]</a>                    
                </div>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationSummary"/>
