@using Origam.Server.Utils;
@{
    Layout = "~/_Layout.cshtml";
    string action = Resources.RegisterHeadline;
    string actionField = "Action";
    string nameField = "Name";
    string firstNameField = "FirstName";
    string emailField = "Email";
    string userNameField = "UserName";
    string passwordField = "Password";
    string errorMessage = LoginHelper.Setup(this, action, actionField,
        nameField, firstNameField, emailField, userNameField, passwordField);
}

<form method="post">
    <!-- TODO - add styles -->
    <div class="errorMessage">
        @errorMessage
    </div>
    @if (LoginHelper.IsInitialSetupNeeded(this))
    {
        <!-- username text input -->
        <label class="input">
            <span>@Resources.UserNameForm</span>
            @Html.TextBox(userNameField)
        </label>
        <br />
        <!-- username text input -->
        <label class="input">
            <span>@Resources.FirstNameForm</span>
            @Html.TextBox(firstNameField)
        </label>
        <br />
        <label class="input">
            <span>@Resources.SurnameForm</span>
            @Html.TextBox(nameField)
        </label>
        <br />
        <label class="input">
            <span>@Resources.EmailForm</span>
            @Html.TextBox(emailField)
        </label>
        <br />
        <!-- password text input -->
        <label class="input">
            <span>@Resources.PasswordForm</span>
            @Html.Password(passwordField)
        </label>
        <input type="submit" value="@action" name="@actionField" class="login" />
        <script src="js/overlay.js" type="text/javascript"></script>
    }
</form>
